html,
body {
  height: 100%;
}

svg {
  overflow: hidden;
}

#wrapper {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#sidebar {
  border-right: 1px solid #888;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 8px;
  position: fixed;
  top: 0;
  width: 220px;
  -webkit-overflow-scrolling: touch;
}

#settings {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fdf6e3
}

#inspector {
  background-color: #eee8d5;
  position: fixed;
  top: 0;
  left: 237px;
  right: 0;
  height: 50px;
}

#cheatsheet {
  height: 100%;
  overflow: scroll;
  margin-top: 50px;
  margin-left: 237px;
}

#canvas {
}

.background {
  fill: #fff;
}

.entry text {
  fill: #000;
  stroke: #444;
  font-size: 16px;
  font-family: monospace;
}

.entry.focus text {
  fill: #f00;
  stroke: #f00;
  box-shadow: 2px 2px 2px #333;
}

.highlight {
  fill: #f00;
  stroke: #f00;
}

#cursor {
  fill: transparent;
  stroke: #fc0;
  stroke-dasharray: 3, 3;
  stroke-width: 2px;
}

#candidates {
  padding-top: 130px;
}

#candidates {
  margin: 0;
}

#candidates li {
  cursor: pointer;
  list-style-type: none;
}

#candidates .selected {
  background-color: #eee8d5;
}

#inspector {
  color: #586e75;
  line-height: 50px;
}

#inspector .word {
  font-size: 30px;
}

#inspector .grammarclass {
  font-size: 22px;
}

#inspector.error .description {
  color: #dc322f;
}

#backdrop rect {
  fill: #fff;
  fill-opacity: 0.5;
  stroke: none;
  display: none;
}

#backdrop.in rect {
  display: block;
}