svg {
  overflow: hidden;
}

.background {
  fill: #fff;
}

.entry text {
  fill: #000;
  stroke: #444;
  font-size: 16px;
  font-family: monospace;
}

.entry.focus text {
  fill: #f00;
  stroke: #f00;
  box-shadow: 2px 2px 2px #333;
}

#bounds {
  fill: transparent;
/*  stroke: #00f;*/
  stroke: transparent;
  stroke-width: 2px;
}

.highlight {
  fill: #f00;
  stroke: #f00;
}

#cursor {
  fill: transparent;
  stroke: #fc0;
  stroke-dasharray: 3, 3;
  stroke-width: 2px;
}

#backdrop rect {
  fill: #fff;
  fill-opacity: 0.5;
  stroke: none;
  display: none;
}

#backdrop.in rect {
  display: block;
}