<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>jbo cheatsheet</title>
    <link rel="stylesheet" href="${url_for('.static', filename='bootstrap/css/bootstrap.min.css')}" type="text/css"/>
    <link rel="stylesheet" href="${url_for('.static', filename='custom.css')}" type="text/css" media="screen, projection, print"/>
    <script type="text/javascript" src="${url_for('.static', filename='jquery-1.7.1.js')}"/>
    <script type="text/javascript" src="https://raw.github.com/etgryphon/stativus/master/stativus.js"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-signals/0.8.1/js-signals.min.js"/>
    <script type="text/javascript" src="https://raw.github.com/millermedeiros/Hasher/master/dist/js/hasher.min.js"/>
    <script type="text/javascript" src="https://raw.github.com/millermedeiros/crossroads.js/master/dist/crossroads.js"/>
    <script type="text/javascript" src="https://github.com/ccampbell/mousetrap/raw/master/mousetrap.min.js"/>
<!--    <script type="text/javascript" src="http://d3js.org/d3.v2.min.js?2.8.1"/> -->
    <script type="text/javascript" src="${url_for('.static', filename='bootstrap/js/bootstrap.min.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='sammy-0.7.1.min.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='d3.v2.min.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='rtree.js')}"/>

    <link rel="stylesheet" href="${url_for('.static', filename='cheatsheet.css')}" type="text/css" media="screen, projection, print"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar">
        <div id="settings">
          <h2>Cheatsheet: cmavo</h2>
          <div id="layout" class="btn-group">
            <button class="btn active" data-value="alphabet">ABC</button>
            <button class="btn" data-value="length">Length</button>
            <button class="btn" data-value="chapter" selected="1">CLL</button>
          </div>
          <div id="search-box">
            <div class="input-append">
              <input id="q" class="input-mini" type="text" autocomplete="off"/>
              <button id="search-prev" class="btn"><i class="icon icon-chevron-up"></i></button>
              <button id="search-next" class="btn"><i class="icon icon-chevron-down"></i></button>
            </div>
          </div>
        </div>
        <ul id="candidates">
        </ul>
      </div>
      <div id="inspector"></div>
      <div id="cheatsheet"></div>
    </div>
    <script type="text/javascript" src="${url_for('.static', filename='underscore-min.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='ext.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='strutil.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='order.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='rect.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='cheatsheet.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='models.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='states.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='layouts.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='widgets.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='facets.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='run.js')}"/>
  </body>
</html>
