<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html"/>
  <head>
<!--    <script type="text/javascript" src="http://d3js.org/d3.v2.min.js?2.8.1"/> -->
    <script type="text/javascript" src="${url_for('.static', filename='sammy-0.7.1.min.js')}"/>
    <script type="text/javascript" src="${url_for('.static', filename='d3.v2.min.js')}"/>
    
    <link rel="stylesheet" href="${url_for('.static', filename='cheatsheet.css')}" type="text/css" media="screen, projection, print"/>
  </head>
  <body>
    <h2>Cheatsheet: cmavo</h2>
    <select id="layout">
      <option value="alphabet">ABC</option>
      <option value="length">Length</option>
      <option value="chapter" selected="1">Chapter</option>
    </select>
    <div id="inspector"></div>
    <div id="cheatsheet"></div>
    <script type="text/javascript" src="${url_for('.static', filename='cheatsheet.js')}"/>
  </body>
</html>
